


 body {
 		background-image: linear-gradient(45deg,#2b3990,#f15a29);
	    background-repeat: no-repeat;
 }
 nav {
 	/*background-color: red !important;*/
 }
 #heroImg{
 	border-radius: 0;
 	color: #fff;
 	margin-right: -15px;
 	margin-left: -15px;
 	background-image: url('../img/3.jpg');
 	background-repeat: no-repeat;
 	background-size:cover;
	padding-top: 7rem;
 	padding-bottom: 12rem;
 }
 #heroImg h1{
 	font-size: 4rem;
 	font-weight: bold;
 	letter-spacing: -2px;
 	font-family: 'Emilys Candy', cursive;
 }
 #heroImg p{
 	font-size: 1.8rem;
 	
 	 font-family: 'Open Sans', sans-serif;
 }
 #offset{
 	background-color: #fff;
 	margin-top: 60px;
 	/*position: relative;*/
 }

  /*#heroImg:before {
  	margin-top: -50px;
  	margin-right: 15px;
 	margin-left: -61px;
 	
  	
	position:absolute;
	content: "";
	width: 100%;
	height: 92%;
	
	background: rgba(223,39,39,.7) !important;
}
*/
#mainContent{
	background-color: #fff;
}
#mainContent h2{
	font-weight: bold;
	font-size: 16px;
	font-family: 'Emilys Candy', cursive;
}

#mainContent p{
	font-size: 13px;
	 font-family: 'Open Sans', sans-serif;
}
footer{
	/*background-color: #000;*/
}
#followUs{
	margin-top: 5px;
	margin-bottom: 10px;
}
